/* 
========================
    Project Name: HRM
    Page Name: Login
    Authors: 
    Authors Email: 
    Version: 1.0.0
========================
========================
    Table of Content
========================
1. PRIMARY_SECTION
2. LOGIN_SECTION
3. 
4. 
5. 
6. 
7. 
8. 
9. 
10. 
========================
*/












/* ======= PRIMARY_SECTION START ======= */





/* ======= PRIMARY_SECTION END ======= */














/* ======= LOGIN_SECTION START ======= */
.login__page{
    background-image: url('../img/bg-login.png');

    background-color: #f6f9fb;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    font-family: 'Nunito', sans-serif;

    .login__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        &_left{
            display: flex;
            align-items: center;
            &_logo{
                width: 45px;
                height: 45px;
            }
            &_text{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                margin-left: 13px;


                span:first-child{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 37px;
    
                    color: #1464C0;
                }
                span:last-child{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;

                    color: #B3BDD9;
                }
            }
        }

        &_right{
            margin-right: 10px;
            &_language{
                width: 40px;
            }
        }
    }

    .login__card{
        background: #fff;
        padding: 55px;
        backdrop-filter: blur(4px);
        border-radius: 26px;

        width: 600px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &_title{
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            /* identical to box height */
            
            text-align: center;
            color: #1B1B1B;
            margin-bottom: 10px;
        }
        &_subtitle{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height */

            text-align: center;

            color: #1B1B1B;
            margin-bottom: 50px;
        }
        &_input{
            background: rgba(20, 100, 192, 0.06);
            border-radius: 10px;
            border: none;
            width: 100%;
            height: 50px;
            margin-bottom: 25px;

            position: relative;

            input{
                width: 100%;
                height: 50px;
                background: rgba(24, 109, 206, 0.06);
                border-radius: 10px;
                border: none;
                padding: 10px;
                padding-left: 50px;
            }

            input:focus{
                outline: 2px solid #1499ed !important;
            }

            img{
                position: absolute;
                top: 13px;
                left: 13px;
            }

            &_visible{
                position: absolute;
                top: 13px !important;
                right: 13px !important;
                left: auto !important;
                cursor: pointer;
            }
        }
        &_remember{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;

            div {
                span {
                    color: #000000;
                    cursor: auto;
                }
                color: #B3BDD9;
                cursor: pointer;
            }
        }
        &_checkbox{
            -webkit-appearance: none;
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 7px;
            margin-left: 3px;

            background-color: rgba(20, 100, 192, 0.1);
            border: none;
            padding: 9px;
            border-radius: 5px;

            &:checked {
                background-color: rgba(12, 114, 231, 0.1);
                border: none;

                &:after {
                    content: '\2714';
                    font-size: 14px;
                    position: absolute;
                    top: 0px;
                    left: 3px;
                    // color: #99a1a7;
                    color: #0d89e7;
                }
            }


        }
        &_btn{
            background: linear-gradient(110.81deg, #14ADFF -1.78%, #1464C0 94.52%);
            box-shadow: 0px 10px 30px rgba(20, 100, 192, 0.3);
            border-radius: 10px;
            padding: 15px;
            width: 100%;
            border: none;
            color: #FFF;

            font-size: 18px;
        }
    }

    .login__footer{
        width: 100%;
        height: 54px;
    }
}



 

/* ======= LOGIN_SECTION END ======= */












/* ======= MEDIA_QUERIES_SECTION START ======= */
/* 
  ##Device = Desktops
  ##Screen = 2001px to higher resolution desktops
*/
@media (min-width: 2001px) {

}
/* 
  ##Device = Desktops
  ##Screen = B/w 1601px to 2000px
*/

@media (min-width: 1601px) and (max-width: 2000px)  {
    .login__card{
        background: #fff;
        padding: 55px;
        backdrop-filter: blur(4px);
        border-radius: 26px;

        width: 500px !important;
        height: 400px !important;
    }
}
/* 
  ##Device = Desktops
  ##Screen = B/w 1281px to 1600px
*/

@media (min-width: 1281px) and (max-width: 1600px)  {
    .login__header{
        width: 90% !important;

        &_left{

        }
    }
    .login__card{
        background: #fff;
        padding: 40px !important;
        padding-top: 30px !important;
        backdrop-filter: blur(4px);
        border-radius: 26px;

        width: 450px !important; 
        height: 400px !important;




        &_title{
            font-size: 30px !important;
            margin-bottom: 5px !important;
        }
        &_subtitle{
            font-size: 14px !important;
            margin-bottom: 20px !important;
        }
        &_input{
            width: 100%;
            height: 50px;
            margin-bottom: 25px;

            input{
                width: 100%;
                height: 50px;
            }
        }
        &_remember{
            margin-bottom: 25px !important;

            div {
                span {
                    color: #000000;
                    cursor: auto;
                }
                color: #B3BDD9;
                cursor: pointer;
            }
        }
        &_checkbox{
            width: 16px;
            height: 16px;
            margin-right: 7px;
            margin-left: 3px;

            padding: 9px;

            &:checked {
                &:after {
                    content: '\2714';
                    font-size: 10px;
                    color: #0d89e7;
                }
            }


        }
        &_btn{
            padding: 13px !important;
            font-size: 14px !important;
        }
    }
    .login__footer{
        height: 45px !important;
    }
}   

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .login__card{
        background: #fff;
        padding: 55px;
        backdrop-filter: blur(4px);
        border-radius: 26px;

        width: 400px;
        height: 400px;
    }


}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

/* CSS */

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

/* CSS */

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

/* CSS */

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

/* CSS */

}
/* ======= MEDIA_QUERIES_SECTION END ======= */